{% extends 'base.html' %}

{% block title %}
    Projects List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if Tasks|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for Task in Tasks %}
                        <tr>
                            <td>{{ Task.name }}</td>
                            <td>{{ Task.start_date }}</td>
                            <td>{{ Task.due_date }}</td>
                            <td>{{ Task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
