{% extends 'base.html' %}

{% block title %}
    Project Detail
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ Project.name }}</h1>
            <p>{{ Project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href = {% url 'create_task' %}>Create a new task</a>
            </p>
            {% if Project.tasks.all|length != 0 %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for Task in Project.tasks.all %}
                        <tr>
                            <td>{{ Task.name }}</td>
                            <td>{{ Task.assignee }}</td>
                            <td>{{ Task.start_date }}</td>
                            <td>{{ Task.due_date }}</td>
                            <td>{{ Task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
