{% extends 'base.html' %}

{% block title %}
    Projects List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href = {% url 'create_project' %}>Create a new project</a>
            </p>
            {% if Projects|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for Project in Projects %}
                        <tr>
                            <td>
                                <a href = {% url 'show_project' Project.id %}>{{ Project.name }}</a>
                            </td>
                            <td>{{ Project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
